{
  "configurations" : [ ],
  "host_groups" : [
     {% if 'slave-nodes' in groups and groups['slave-nodes']|length > 0 -%}
     {
       "name" : "slavenode",
       "configurations" : [ ],
       "components" : [
             { "name": "NODEMANAGER" },
             { "name": "DATANODE" },
             { "name" : "ZOOKEEPER_CLIENT" },
             { "name" : "PIG" },
             { "name" : "OOZIE_CLIENT" },
             { "name" : "HIVE_CLIENT" },
             { "name" : "HDFS_CLIENT" },
             { "name" : "YARN_CLIENT" },
             { "name" : "HCAT" },
             { "name" : "MAPREDUCE2_CLIENT" },
             { "name" : "TEZ_CLIENT" },
             { "name" : "SPARK_CLIENT" },
             { "name" : "HBASE_CLIENT" },
             { "name" : "SLIDER "} ],
       "cardinality" : "{{ groups['slave-nodes']|length }}"
     },
    {% endif -%}
    {
      "components" : [
        { "name" : "NODEMANAGER" },
        { "name" : "SPARK_CLIENT" },
        { "name" : "YARN_CLIENT" },
        { "name" : "HDFS_CLIENT" },
        { "name" : "HIVE_SERVER" },
        { "name" : "METRICS_MONITOR" },
        { "name" : "HIVE_METASTORE" },
        { "name" : "TEZ_CLIENT" },
        { "name" : "ZOOKEEPER_CLIENT" },
        { "name" : "HCAT" },
        { "name" : "PIG" },
        { "name" : "WEBHCAT_SERVER" },
        { "name" : "SECONDARY_NAMENODE" },
        { "name" : "HST_AGENT" },
        { "name" : "MAPREDUCE2_CLIENT" },
        { "name" : "SLIDER" },
        { "name" : "ZOOKEEPER_SERVER" },
        { "name" : "OOZIE_CLIENT" },
        { "name" : "DATANODE" },
        { "name" : "HBASE_CLIENT" },
        { "name" : "HIVE_CLIENT" }
      ],
      "configurations" : [ ],
      "name" : "host_group_2",
      "cardinality" : "1"
    },
    {
      "components" : [
        { "name" : "HST_SERVER" },
        { "name" : "HISTORYSERVER" },
        { "name" : "METRICS_MONITOR" },
        { "name" : "NAMENODE" },
        { "name" : "ACTIVITY_ANALYZER" },
        { "name" : "ACTIVITY_EXPLORER" },
        { "name" : "HST_AGENT" },
        { "name" : "MAPREDUCE2_CLIENT" },
        { "name" : "ZOOKEEPER_SERVER" },
        { "name" : "AMBARI_SERVER" },
        { "name" : "DATANODE" },
        { "name" : "APP_TIMELINE_SERVER" },
        { "name" : "METRICS_GRAFANA" },
        { "name" : "RESOURCEMANAGER" }
      ],
      "configurations" : [ ],
      "name" : "host_group_1",
      "cardinality" : "1"
    },
    {
      "components" : [
        { "name" : "NODEMANAGER" },
        { "name" : "SPARK_CLIENT" },
        { "name" : "YARN_CLIENT" },
        { "name" : "HDFS_CLIENT" },
        { "name" : "METRICS_MONITOR" },
        { "name" : "HBASE_MASTER" },
        { "name" : "TEZ_CLIENT" },
        { "name" : "ZOOKEEPER_CLIENT" },
        { "name" : "HCAT" },
        { "name" : "PIG" },
        { "name" : "KAFKA_BROKER" },
        { "name" : "HST_AGENT" },
        { "name" : "MAPREDUCE2_CLIENT" },
        { "name" : "SLIDER" },
        { "name" : "ZOOKEEPER_SERVER" },
        { "name" : "OOZIE_CLIENT" },
        { "name" : "HBASE_REGIONSERVER" },
        { "name" : "DATANODE" },
        { "name" : "HBASE_CLIENT" },
        { "name" : "SPARK_JOBHISTORYSERVER" },
        { "name" : "OOZIE_SERVER" },
        { "name" : "HIVE_CLIENT" },
        { "name" : "METRICS_COLLECTOR" },
        { "name" : "PHOENIX_QUERY_SERVER" }
      ],
      "configurations" : [ ],
      "name" : "host_group_3",
      "cardinality" : "1"
    }
  ],
  "settings" : [ ],
  "Blueprints" : {
    "stack_name" : "HDP",
    "stack_version" : "2.6"
  }
}
