http_proxy=http://10.24.16.228:3128
https_proxy=http://10.24.16.228:3128
ftp_proxy=http://10.24.16.228:3128
RSYNC_PROXY=10.24.16.228:3128
no_proxy="127.0.0.1,localhost,{% for i in groups['eea-all'] -%} {{ i }}, {%- endfor %}e2muowc33c0ujk1xqjgv3deegg.ax.internal.cloudapp.net"

